*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bola{
    width: 50px;
    height: 50px;
    background-color: #f7941f;
    border: 1px solid #000000;
    border-radius: 8px;
    
}
.doda{
    padding: 85px 180px;
    display: flex;
    align-items: center;
    
    flex-wrap: wrap;
    gap: 40px;
}

.ota{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
}


   
.ota2{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.ota3{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    flex-wrap: wrap;
  
    gap: 8px;
}
.ota4{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    
  justify-content: space-between;
    gap: 8px;
}
.ota5{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
   gap: 8px;
   padding: 8px;
    display: flex;
    
  
   
}
.ota6{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    flex-direction: row-reverse;
    display: flex;
    gap: 8px;
}
.ota7{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    
  justify-content:center;
    gap: 8px;
}
.ota8{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    
  justify-content: space-between;
    gap: 8px;
}
.ota9{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    gap: 8px;
}
.ota10{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: end;
    gap: 8px;
}
.ota11{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.ota12{
    width: 240px;
    height: 240px;
    background-color: #995db5;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    
  justify-content: space-around;
    gap: 8px;
}















